<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:icon="@drawable/coffee_icon_debug"
        android:roundIcon="@drawable/coffee_icon_debug"
        tools:replace="android:icon,android:roundIcon" />

</manifest>